<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body>
      <div id="content" class="container">
        <h3><%= app_name %></h3>
        <h5><i>v<%= app_version %></i></h5>
      </div> <!-- /container -->
    </body>
</html>

